$space1: 8;
$space2: 16;
$space3: 24;
$space4: 32;
$space5: 40;
$space6: 48;
$space7: 56;

$space-map: (
  1: $space1,
  2: $space2,
  3: $space3,
  4: $space4,
  5: $space5,
  6: $space6,
  7: $space7,
);