@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

.link {
  display: block;
  background-color: $white;
  &:hover {
    opacity: $opacity;
    .image {
      scale: $scale;
    }
  }
}

.imageWrapper {
  overflow: hidden;
}

.image {
  aspect-ratio: 16 / 9;
  width: 100%;
  transition: scale $transition, opacity $transition;
}

.body {
  display: grid;
}

.time {
  display: block;
  color: $gray;
}

.title {
  font-weight: $fwMedium;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

@include pc {
  .body {
    padding: #{$space2}px;
    gap: #{$space1}px;
  }
  .time {
    font-size: #{$fs1}px;
  }
  .title {
    font-size: #{$fs2}px;
  }
}

@include sp {
  .body {
    padding: vw(#{$space2});
    gap: vw(#{$space1});
  }
  .time {
    font-size: vw(#{$fs1});
  }
  .title {
    font-size: vw(#{$fs2});
  }
}
