@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

.list {
  display: grid;
  grid-template-columns: subgrid;
  align-self: start;
  grid-column: 1 / -1;
}

@include pc {
  .list {
    gap: #{$space3}px;
  }
}

@include sp {
  .list {
    gap: vw(#{$space2});
  }
}
