@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto 1fr auto auto;
  margin-inline: auto;
  min-height: 100dvh;
  width: min(100%, calc(1200px + #{$space3}px * 2));
} 

@include pc {
  .wrapper {
    padding: #{$space3}px #{$space3}px;
    gap: #{$space3}px;
  }
}

@include sp {
  .wrapper {
    padding: vw(#{$space3}) vw(#{$space2});
    gap: vw(#{$space2});
  }
}

