@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

.wrapper {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-inline: auto;
  width: min(100%, calc(1200px + #{$space3}px * 2));
  &[data-is-small="true"] {
    max-width: min(100%, calc(900px + #{$space3}px * 2));
  }
} 

@include pc {
  .wrapper {
    padding: #{$space3}px #{$space3}px;
    gap: #{$space3}px;
  }
}

@include sp {
  .wrapper {
    padding: vw(#{$space3}) vw(#{$space2});
    gap: vw(#{$space2});
  }
}

