@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

.articleHead {
  display: grid;
}

.thumbnail {
  display: block;
  aspect-ratio: 16 / 9;
  width: min(100%, 640px);
  margin-inline: auto;
}

.dateWrapper {
  display: flex;
  place-content: center;
}

.heading {
  text-align: center;
}

@include pc {
  .articleHead {
    row-gap: #{$space1}px;
  }
  .dateWrapper {
    gap: #{$space2}px;
  }
  .date {
    color: $gray;
    font-size: #{$fs1}px;
  }
  .heading {
    font-size: #{$fs5}px;
  }
}

@include sp {
  .articleHead {
    row-gap: vw($space1);
  }
  .dateWrapper {
    gap: vw(#{$space2});
  }
  .date {
    color: $gray;
    font-size: vw(#{$fs1});
  }
  .heading {
    font-size: vw(#{$fs4});
  }
}
