@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

.fv {
  grid-column: 1 / -1;
}

.viewport {
  overflow: hidden;
}

.container {
	display: flex;
}

.slide {
  display: grid;
}

@include pc {
  .container {
    gap: #{$space3}px;
    padding-block: #{$space1}px;
  }
  .slide {
    flex: 0 0 calc((100%) / 3.5);
    &:last-of-type {
      margin-right: #{$space3}px;
    }
  }
}

@include tab {
  .slide {
    flex: 0 0 calc((100%) / 2.5);
  }
}

@include sp {
  .fv {
    margin-inline: vw(-#{$space2});
  }
  .container {
    padding-block: vw(#{$space1});
    gap: vw(#{$space2});
  }
  .slide {
    flex: 0 0 calc((100%) / 1.2);
    &:last-of-type {
      margin-right: vw(#{$space2});
    }
  }
}