@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

.block {
  display: grid;
  background-color: $white;
  grid-column: 1 / -1;
}

@include pc {
  .block {
    padding: #{$space3}px;
    border-radius: #{$space1}px;
    box-shadow: 0 0 #{$space1} 0 $primary20;
  }
}

@include sp {
  .block {
    margin-inline: vw(-#{$space2});
    padding: vw(#{$space2});
    box-shadow: 0 0 vw(#{$space1}) 0 $primary20;
  }
}
