@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

@include pc {
  .block {
    background-color: $white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 $primary20;
    margin-inline: auto;
    width: min(100%, calc(#{$innerWidth}px + 40px));
  }
}

@include sp {
  .block {
    background-color: $white;
    padding: vw(20);
    border-radius: vw(8);
    box-shadow: 0 0 vw(10) 0 $primary20;
  }
}
