@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

.block {
  background-color: $white;
}

@include pc {
  .block {
    padding: #{$space3}px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 $primary20;
  }
}

@include sp {
  .block {
    padding: vw(#{$space2});
    border-radius: vw(8);
    box-shadow: 0 0 vw(10) 0 $primary20;
  }
}
