@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

.grid {
  display: grid;
}

@include pc {
  .grid {
    gap: #{$space4}px;
    &[data-col='true'] {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include tab {
  .grid {
    &[data-col='true'] {
      grid-template-columns: auto;
    }
  }
}

@include sp {
  .grid {
    gap: #{$space4}px;
  }
}
