@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

.inner {
  width: min(100%, #{$innerWidth}px);
  margin-inline: auto;
}

@include pc {
  .inner {
    padding-inline: #{$innerSpace}px;
  }
}

@include sp {
  .inner {
    padding-inline: vw($innerSpace);
  }
}
