@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

@include pc {
  .wrapper {
    @for $i from 1 through 12 {
      &[data-start-pc='#{$i}'] {
        grid-column-start: $i;
      }
    }
    &[data-start-pc='-1'] {
      grid-column-start: -1;
    }
    @for $i from 1 through 12 {
      &[data-end-pc='#{$i}'] {
        grid-column-end: $i;
      }
    }
    &[data-end-pc='-1'] {
      grid-column-end: -1;
    }
  }
}

@include tab {
  .wrapper {
    @for $i from 1 through 12 {
      &[data-start-tab='#{$i}'] {
        grid-column-start: $i;
      }
    }
    &[data-start-tab='-1'] {
      grid-column-start: -1;
    }
    @for $i from 1 through 12 {
      &[data-end-tab='#{$i}'] {
        grid-column-end: $i;
      }
    }
    &[data-end-tab='-1'] {
      grid-column-end: -1;
    }
  }
}

@include sp {
  .wrapper {
    @for $i from 1 through 12 {
      &[data-start-sp='#{$i}'] {
        grid-column-start: $i;
      }
    }
    &[data-start-sp='-1'] {
      grid-column-start: -1;
    }
    @for $i from 1 through 12 {
      &[data-end-sp='#{$i}'] {
        grid-column-end: $i;
      }
    }
    &[data-end-sp='-1'] {
      grid-column-end: -1;
    }
  }
}
