@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

.nav {
  grid-column: 1 / -1;
}

.list {
  display: flex;
  align-items: flex-end;
  overflow-x: auto;
  white-space: nowrap;
}

.item {
  position: relative;
  &:not(:last-of-type)::after {
    position: absolute;
    top: 50%;
    translate: 50% -50%;
    rotate: 45deg;
    content: "";
  }
  &:last-of-type {
    flex: 1;
  }
}

.link {
  text-decoration: underline;
}

@include pc {
  .list {
    column-gap: #{$space4}px;
  }
  .item {
    &:not(:last-of-type)::after {
      right: -#{$space2}px;
      width: #{$space1}px;
      height: #{$space1}px;
      border-top: 2px solid $primary;
      border-right: 2px solid $primary;
    }
  }
}

@include sp {
  .list {
    column-gap: vw(#{$space4});
  }
  .item {
    &:not(:last-of-type)::after {
      right: vw(-#{$space2});
      width: vw(#{$space1});
      height: vw(#{$space1});
      border-top: vw(2) solid $primary;
      border-right: vw(2) solid $primary;
    }
  }
}
