@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

.logo {
  text-align: center;
  color: $primary;
  font-weight: $fwMedium;
}

@include pc {
  .logo {
    font-size: 24px;
    &[data-is-home='false'] {
      @include hoverOpacity;
    }
  }
}

@include sp {
  .logo {
    font-size: vw(22);
  }
}
