@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

.footer {
  display: grid;
  grid-column: 1 / -1;
}

.copy {
  display: block;
  text-align: center;
}

@include pc {
  .copy {
    font-size: 12px;
  }
}

@include sp {
  .copy {
    font-size: vw(12);
  }
}
