@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

$maxWidth: 640px;

.body {
  display: grid;
  h2 {
    position: relative;
    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 10%;
      background-color: $primary;
      content: "";
      translate: 0 100%;
    }
  }
  h3 {
    position: relative;
    &::before {
      position: absolute;
      left: 0;
      background-color: $primary;
      content: "";
    }
  }
  ul {
    display: grid;
    position: relative;
    background-color: $primary10;
    &::before {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      border-style: solid;
      border-color: $primary20 $white $primary20;
    }
    li {
      position: relative;
      &::before {
        position: absolute;
        left: 0;
        translate: 0 50%;
        width: #{$space1}px;
        aspect-ratio: 1;
        background: $primary;
        border-radius: 50%;
        content: "";
      }
    }
  }
  ol {
    position: relative;
    display: grid;
    background-color: $primary10;
    counter-reset: number 0;
    &::before {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      border-style: solid;
      border-color: $primary20 $white $primary20;
    }
    li {
      position: relative;
      &::before {
        display: grid;
        place-content: center;
        position: absolute;
        left: 0;
        line-height: 1;
        translate: 0 50%;
        aspect-ratio: 1;
        border-radius: 50%;
        background: $primary;
        color: $white;
        font-weight: $fwMedium;
        counter-increment: number 1;
        content: counter(number);
      }
    }
  }
  a {
    color: $primary;
    text-decoration: underline;
    @include hoverOpacity
  }
  img {
    display: block;
    width: min(100%, #{$maxWidth});
    margin-inline: auto;
  }
  div {
    &:has(iframe) {
      margin: 0 auto!important;
      display: block!important;
      width: min(100%, #{$maxWidth})!important;
      aspect-ratio: 16 / 9!important;
      left: auto!important;
      height: auto!important;
      padding-bottom: 0!important;
    }
  }
  iframe {
    top: auto!important;
    left: auto!important;
    position: relative!important;
    width: 100%!important;
    height: 100%!important;
  }
}

@include pc {
  .body {
    row-gap: #{$space2}px;
    h2 {
      padding-block: #{$space3}px #{$space1}px;
      border-bottom: 2px solid $primary10;
      font-size: #{$fs4}px;
      &::before {
        height: 2px;
      }
    }
    h3 {
      padding: #{$space2}px 0 0 #{$space2}px;
      font-size: #{$fs3}px;
      &::before {
        top: calc(#{$space2}px);
        width: 2px;
        height: calc(100% - #{$space2}px);
      }
    }
    ul {
      row-gap: #{$space1}px;
      padding: #{$space3}px;
      &::before {
        border-width: 0 #{$space3}px #{$space3}px 0;
      }
      li {
        padding-left: #{$space3}px;
        &::before {
          top: calc(#{$space1}px * .4);
          width: #{$space1}px;
        }
      }
    }
    ol {
      gap: #{$space2}px;
      padding: #{$space3}px;
      &::before {
        border-width: 0 #{$space3}px #{$space3}px 0;
      }
      li {
        padding-left: #{$space3}px;
        &::before {
          top: calc(#{$space2}px * -.8);
          width: #{$space3}px;
        }
      }
    }
  }
}

@include sp {
  .body {
    row-gap: vw(#{$space2});
    h2 {
      padding-block: vw(#{$space3}) vw(#{$space1});
      border-bottom: vw(2) solid $primary10;
      font-size: vw($fs4);
      &::before {
        height: vw(2);
      }
    }
    h3 {
      padding: vw(#{$space2}) 0 0 vw(#{$space2});
      font-size: vw(#{$fs3});
      &::before {
        top: vw(#{$space2});
        width: vw(2);
        height: calc(100% - vw(#{$space2}));
      }
    }
    ul {
      row-gap: vw(#{$space1});
      padding: vw(#{$space2});
      &::before {
        border-width: 0 vw(#{$space2}) vw(#{$space2}) 0;
      }
      li {
        padding-left: #{$space2}px;
        &::before {
          top: calc(vw(#{$space1}) * .4);
          width: vw(#{$space1});
        }
      }
    }
    ol {
      gap: vw(#{$space2});
      padding: vw(#{$space2});
      &::before {
        border-width: 0 vw(#{$space2}) vw(#{$space2}) 0;
      }
      li {
        padding-left: vw(#{$space2});
        &::before {
          top: calc(vw(#{$space2})* -.8);
          width: vw(#{$space2});
        }
      }
    }
  }
}

