@use '../../styles/use/import' as *;
@use '../../styles/config/import' as *;

$maxWidth: 640px;

.articleBody {
  display: grid;
}

@include pc { 
  .articleBody {
    row-gap: #{$space3}px;
  }
}

@include pc {
  .articleBody {
    h2 {
      position: relative;
      padding-block: #{$space3}px #{$space1}px;
      border-bottom: 2px solid $primary10;
      font-size: 24px;
      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 10%;
        height: 2px;
        background-color: $primary;
        content: "";
        translate: 0 100%;
      }
    }
    h3 {
      padding: #{$space2}px 0 0 #{$space2}px;
      position: relative;
      font-size: 22px;
      &::before {
        position: absolute;
        top: calc(#{$space2}px + 4px);
        left: 0;
        width: 2px;
        height: #{$space3}px;
        background-color: $primary;
        content: "";
      }
    }
    ul {
      display: grid;
      row-gap: #{$space1}px;
      position: relative;
      padding: #{$space3}px;
      background-color: $primary10;
      &::before {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        border-width: 0 #{$space3}px #{$space3}px 0;
        border-style: solid;
        border-color: $primary20 $white $primary20;
      }
      li {
        position: relative;
        padding-left: #{$space3}px;
        &::before {
          position: absolute;
          top: calc(#{$space1}px * .4);
          left: 0;
          translate: 0 50%;
          width: #{$space1}px;
          aspect-ratio: 1;
          background: $primary;
          border-radius: 50%;
          content: "";
        }
      }
    }
    ol {
      position: relative;
      display: grid;
      gap: #{$space2}px;
      background-color: $primary10;
      padding: #{$space3}px;
      counter-reset: number 0;
      &::before {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        border-width: 0 #{$space3}px #{$space3}px 0;
        border-style: solid;
        border-color: $primary20 $white $primary20;
      }
      li {
        position: relative;
        padding-left: #{$space3}px;
        &::before {
          display: grid;
          place-content: center;
          position: absolute;
          top: calc(#{$space2}px * -.8);
          left: 0;
          line-height: 1;
          translate: 0 50%;
          width: #{$space3}px;
          aspect-ratio: 1;
          padding-bottom: 2px;
          border-radius: 50%;
          background: $primary;
          color: $white;
          font-weight: $fwMedium;
          counter-increment: number 1;
          content: counter(number);
        }
      }
    }
    a {
      color: $primary;
      text-decoration: underline;
      @include hoverOpacity
    }
    img {
      display: block;
      width: min(100%, #{$maxWidth});
      margin-inline: auto;
    }
    div {
      &:has(iframe) {
        margin: 0 auto!important;
        display: block!important;
        width: min(100%, #{$maxWidth})!important;
        aspect-ratio: 16 / 9!important;
        left: auto!important;
        height: auto!important;
        padding-bottom: 0!important;
      }
    }
    iframe {
      top: auto!important;
      left: auto!important;
      position: relative!important;
      width: 100%!important;
      height: 100%!important;
    }
  }
}

@include sp {
  .articleBody {
    h2 {
      position: relative;
      border-bottom: vw(2) solid $primary10;
      padding-bottom: vw(10);
      font-size: vw(22);
      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 10%;
        height: vw(2);
        background-color: $primary;
        content: "";
        transform: translateY(100%);
      }
    }
    h3 {
      position: relative;
      padding-left: vw(20);
      font-size: vw(20);
      &::before {
        position: absolute;
        top: vw(4);
        left: 0;
        width: vw(2);
        height: vw(24);
        background-color: $primary;
        content: "";
      }
    }
    ul {
      display: grid;
      row-gap: vw(10);
      position: relative;
      padding: vw(20);
      background-color: $primary10;
      &::before {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        border-width: 0 vw(24) vw(24) 0;
        border-style: solid;
        border-color: $primary20 $white $primary20;
      }
      li {
        position: relative;
        padding-left: vw(20);
        &::before {
          position: absolute;
          top: .1em;
          left: 0;
          transform: translateY(50%);
          width: vw(10);
          aspect-ratio: 1;
          background: $primary;
          border-radius: 50%;
          content: "";
        }
      }
    }
    ol {
      position: relative;
      display: grid;
      gap: vw(15);
      background-color: $primary10;
      padding: vw(20);
      counter-reset: number 0;
      &::before {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        border-width: 0 vw(24) vw(24) 0;
        border-style: solid;
        border-color: $primary20 $white $primary20;
      }
      li {
        position: relative;
        padding-left: vw(30);
        &::before {
          display: grid;
          place-content: center;
          position: absolute;
          top: -.8em;
          left: 0;
          line-height: 1;
          translate: 0 50%;
          width: vw(24);
          aspect-ratio: 1;
          padding-bottom: vw(2);
          border-radius: 50%;
          background: $primary;
          color: $white;
          font-weight: $fwMedium;
          counter-increment: number 1;
          content: counter(number);
        }
      }
    }
    a {
      color: $primary;
      text-decoration: underline;
      @include hoverOpacity;
    }
    div {
      &:has(iframe) {
        margin: vw(20) auto 0!important;
        display: block!important;
        width: 100%!important;
        aspect-ratio: 16 / 9!important;
        left: auto!important;
        height: auto!important;
        padding-bottom: 0!important;
      }
    }
    iframe {
      top: auto!important;
      left: auto!important;
      position: relative!important;
      width: 100%!important;
      height: 100%!important;
    }
  }
}

